{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "comma-dangle": ["error", "always-multiline"]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
