{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "comma-dangle": ["error", "always-multiline"],
    "class-methods-use-this": "off",
    "no-console": "off",
    "no-underscore-dangle": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
